body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:136px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:136px;
}
#u1 {
  position:absolute;
  left:2px;
  top:60px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:136px;
  width:720px;
  height:1144px;
  overflow:hidden;
  touch-action:none;
}
#u2_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1144px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u2_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u3 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1562px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1562px;
}
#u4 {
  position:absolute;
  left:2px;
  top:773px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:12px;
  top:178px;
  width:350px;
  height:55px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:350px;
  height:55px;
}
#u6 {
  position:absolute;
  left:2px;
  top:20px;
  width:346px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:32px;
  top:189px;
  width:309px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u9 {
  position:absolute;
  left:640px;
  top:90px;
  width:70px;
  height:60px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:20px;
  top:1410px;
  width:680px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:110px;
  top:50px;
  width:400px;
  height:80px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:400px;
  height:80px;
}
#u12 {
  position:absolute;
  left:2px;
  top:32px;
  width:396px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:124px;
  top:67px;
  width:361px;
  height:42px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:36px;
  color:#FFFFFF;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  height:42px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:361px;
  white-space:nowrap;
}
#u15 {
  position:absolute;
  left:0px;
  top:42px;
  width:100px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
