body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:577px;
  top:655px;
  width:53px;
  height:55px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u4 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:577px;
  top:560px;
  width:53px;
  height:55px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u6 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:60px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u8 {
  position:absolute;
  left:360px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u9 {
  position:absolute;
  left:0px;
  top:38px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u10 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u11 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:0px;
  top:38px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:560px;
  top:640px;
  width:80px;
  height:80px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:60px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u15 {
  position:absolute;
  left:360px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
