body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:100px;
  top:390px;
  width:520px;
  height:520px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u5 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:137px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:137px;
}
#u6 {
  position:absolute;
  left:2px;
  top:60px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:136px;
  width:720px;
  height:1144px;
  overflow:hidden;
}
#u7_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1144px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u7_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u8 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1144px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1144px;
}
#u9 {
  position:absolute;
  left:2px;
  top:564px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:20px;
  top:820px;
  width:680px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:137px;
}
#u11_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:137px;
}
#u12 {
  position:absolute;
  left:2px;
  top:60px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u13 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:97px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state2 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state2_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u15 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:30px;
  top:980px;
  width:660px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u18 {
  position:absolute;
  left:500px;
  top:660px;
  width:200px;
  height:50px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u19 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:446px;
  top:673px;
  width:248px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:28px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u0_state3 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state3_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:500px;
  top:595px;
  width:200px;
  height:50px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u23 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:446px;
  top:608px;
  width:248px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:28px;
}
#u25 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u26 {
  position:absolute;
  left:0px;
  top:136px;
  width:720px;
  height:1144px;
  overflow:hidden;
  touch-action:none;
}
#u26_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1144px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u26_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1251px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1251px;
}
#u28 {
  position:absolute;
  left:2px;
  top:618px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:0px;
  top:717px;
  width:720px;
  height:539px;
}
#u29_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:539px;
}
#u30 {
  position:absolute;
  left:2px;
  top:262px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u31 {
  position:absolute;
  left:30px;
  top:1106px;
  width:660px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u32 {
  position:absolute;
  left:0px;
  top:957px;
  width:720px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:494px;
  top:460px;
  width:200px;
  height:50px;
}
#u33_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:50px;
}
#u34 {
  position:absolute;
  left:2px;
  top:17px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u35 {
  position:absolute;
  left:440px;
  top:473px;
  width:248px;
  height:28px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  color:#666666;
}
#u35_img {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  height:28px;
}
#u36 {
  position:absolute;
  left:0px;
  top:0px;
  width:248px;
  white-space:nowrap;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:136px;
}
#u37_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:136px;
}
#u38 {
  position:absolute;
  left:2px;
  top:60px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u39 {
  position:absolute;
  left:0px;
  top:40px;
  width:100px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state4 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state4_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u40 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1388px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1388px;
}
#u41 {
  position:absolute;
  left:2px;
  top:686px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:0px;
  top:761px;
  width:720px;
  height:539px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:539px;
}
#u43 {
  position:absolute;
  left:2px;
  top:262px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:0px;
  top:1270px;
  width:710px;
  height:100px;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:710px;
  height:100px;
}
#u45 {
  position:absolute;
  left:2px;
  top:42px;
  width:706px;
  visibility:hidden;
  word-wrap:break-word;
}
#u46 {
  position:absolute;
  left:0px;
  top:134px;
  width:720px;
  height:1146px;
}
#u46_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1146px;
}
#u47 {
  position:absolute;
  left:2px;
  top:565px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u48 {
  position:absolute;
  left:59px;
  top:330px;
  width:602px;
  height:390px;
}
#u48_img {
  position:absolute;
  left:0px;
  top:0px;
  width:602px;
  height:390px;
}
#u49 {
  position:absolute;
  left:2px;
  top:187px;
  width:598px;
  visibility:hidden;
  word-wrap:break-word;
}
#u50 {
  position:absolute;
  left:59px;
  top:620px;
  width:602px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u0_state5 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state5_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u51 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:136px;
}
#u51_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:136px;
}
#u52 {
  position:absolute;
  left:2px;
  top:60px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u53 {
  position:absolute;
  left:0px;
  top:136px;
  width:720px;
  height:1144px;
  overflow:hidden;
  touch-action:none;
}
#u53_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1144px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u53_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u54 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1408px;
}
#u54_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1408px;
}
#u55 {
  position:absolute;
  left:2px;
  top:696px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u56 {
  position:absolute;
  left:0px;
  top:43px;
  width:100px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
