body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  overflow:hidden;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u2 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:300px;
  top:170px;
  width:367px;
  height:60px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:60px;
}
#u4 {
  position:absolute;
  left:2px;
  top:22px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:347px;
  top:184px;
  width:309px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u7 {
  position:absolute;
  left:0px;
  top:135px;
  width:720px;
  height:1145px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1145px;
}
#u8 {
  position:absolute;
  left:2px;
  top:564px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:59px;
  top:427px;
  width:603px;
  height:418px;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:418px;
}
#u10 {
  position:absolute;
  left:2px;
  top:201px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:580px;
  top:660px;
  width:50px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:360px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13 {
  position:absolute;
  left:60px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u14 {
  position:absolute;
  left:80px;
  top:650px;
  width:200px;
  height:67px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:67px;
}
#u15 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:93px;
  top:665px;
  width:129px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u17 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u18 {
  position:absolute;
  left:80px;
  top:553px;
  width:240px;
  height:67px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:67px;
}
#u19 {
  position:absolute;
  left:2px;
  top:26px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:93px;
  top:568px;
  width:129px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u0_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u22 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u23 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u24 {
  position:absolute;
  left:300px;
  top:170px;
  width:367px;
  height:60px;
}
#u24_img {
  position:absolute;
  left:0px;
  top:0px;
  width:367px;
  height:60px;
}
#u25 {
  position:absolute;
  left:2px;
  top:22px;
  width:363px;
  visibility:hidden;
  word-wrap:break-word;
}
#u26 {
  position:absolute;
  left:347px;
  top:184px;
  width:309px;
  height:32px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u26_img {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  height:32px;
}
#u27 {
  position:absolute;
  left:0px;
  top:0px;
  width:309px;
  white-space:nowrap;
}
#u28 {
  position:absolute;
  left:0px;
  top:135px;
  width:720px;
  height:1145px;
}
#u28_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1145px;
}
#u29 {
  position:absolute;
  left:2px;
  top:564px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u30 {
  position:absolute;
  left:59px;
  top:427px;
  width:603px;
  height:418px;
}
#u30_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:418px;
}
#u31 {
  position:absolute;
  left:2px;
  top:201px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u32 {
  position:absolute;
  left:360px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u33 {
  position:absolute;
  left:60px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u34 {
  position:absolute;
  left:80px;
  top:650px;
  width:200px;
  height:67px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:200px;
  height:67px;
}
#u35 {
  position:absolute;
  left:2px;
  top:26px;
  width:196px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:93px;
  top:665px;
  width:129px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u36_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u37 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
#u38 {
  position:absolute;
  left:577px;
  top:655px;
  width:53px;
  height:55px;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u39 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:577px;
  top:560px;
  width:53px;
  height:55px;
}
#u40_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u41 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u42 {
  position:absolute;
  left:80px;
  top:553px;
  width:240px;
  height:67px;
}
#u42_img {
  position:absolute;
  left:0px;
  top:0px;
  width:240px;
  height:67px;
}
#u43 {
  position:absolute;
  left:2px;
  top:26px;
  width:236px;
  visibility:hidden;
  word-wrap:break-word;
}
#u44 {
  position:absolute;
  left:93px;
  top:568px;
  width:129px;
  height:38px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
}
#u44_img {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:38px;
}
#u45 {
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  white-space:nowrap;
}
