body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:135px;
  width:720px;
  height:1145px;
  overflow:hidden;
  touch-action:none;
}
#u0_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1145px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u0_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1711px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1711px;
}
#u2 {
  position:absolute;
  left:2px;
  top:848px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:0px;
  top:1854px;
  width:720px;
  height:100px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:100px;
}
#u4 {
  position:absolute;
  left:2px;
  top:42px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:0px;
  top:1180px;
  width:719px;
  height:100px;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:719px;
  height:100px;
}
#u6 {
  position:absolute;
  left:2px;
  top:42px;
  width:715px;
  visibility:hidden;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:135px;
}
#u7_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:135px;
}
#u8 {
  position:absolute;
  left:2px;
  top:60px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u9 {
  position:absolute;
  left:0px;
  top:1180px;
  width:360px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u10 {
  position:absolute;
  left:0px;
  top:42px;
  width:100px;
  height:93px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u11 {
  position:absolute;
  left:359px;
  top:1180px;
  width:360px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:0px;
  top:135px;
  width:720px;
  height:1145px;
  overflow:hidden;
  visibility:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1145px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  overflow:hidden;
}
#u13_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1360px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1360px;
}
#u15 {
  position:absolute;
  left:2px;
  top:672px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:59px;
  top:427px;
  width:603px;
  height:418px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:418px;
}
#u17 {
  position:absolute;
  left:2px;
  top:201px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:60px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u19 {
  position:absolute;
  left:360px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u20 {
  position:absolute;
  left:560px;
  top:655px;
  width:80px;
  height:65px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u13_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u13_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1360px;
}
#u21_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1360px;
}
#u22 {
  position:absolute;
  left:2px;
  top:672px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u23 {
  position:absolute;
  left:59px;
  top:427px;
  width:603px;
  height:418px;
}
#u23_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:418px;
}
#u24 {
  position:absolute;
  left:2px;
  top:201px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u25 {
  position:absolute;
  left:577px;
  top:655px;
  width:53px;
  height:55px;
}
#u25_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u26 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u27 {
  position:absolute;
  left:577px;
  top:560px;
  width:53px;
  height:55px;
}
#u27_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u28 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u29 {
  position:absolute;
  left:60px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u30 {
  position:absolute;
  left:360px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1145px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u31 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  overflow:hidden;
}
#u31_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u32 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1360px;
}
#u32_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1360px;
}
#u33 {
  position:absolute;
  left:2px;
  top:672px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u34 {
  position:absolute;
  left:59px;
  top:427px;
  width:603px;
  height:418px;
}
#u34_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:418px;
}
#u35 {
  position:absolute;
  left:2px;
  top:201px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u36 {
  position:absolute;
  left:60px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u37 {
  position:absolute;
  left:360px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u38 {
  position:absolute;
  left:550px;
  top:650px;
  width:100px;
  height:70px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u31_state1 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
  visibility:hidden;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u31_state1_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u39 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1360px;
}
#u39_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1360px;
}
#u40 {
  position:absolute;
  left:2px;
  top:672px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u41 {
  position:absolute;
  left:59px;
  top:427px;
  width:603px;
  height:418px;
}
#u41_img {
  position:absolute;
  left:0px;
  top:0px;
  width:603px;
  height:418px;
}
#u42 {
  position:absolute;
  left:2px;
  top:201px;
  width:599px;
  visibility:hidden;
  word-wrap:break-word;
}
#u43 {
  position:absolute;
  left:60px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u44 {
  position:absolute;
  left:360px;
  top:750px;
  width:300px;
  height:90px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u45 {
  position:absolute;
  left:577px;
  top:655px;
  width:53px;
  height:55px;
}
#u45_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u46 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
#u47 {
  position:absolute;
  left:577px;
  top:560px;
  width:53px;
  height:55px;
}
#u47_img {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:55px;
}
#u48 {
  position:absolute;
  left:2px;
  top:20px;
  width:49px;
  visibility:hidden;
  word-wrap:break-word;
}
