body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1280px;
}
#u1 {
  position:absolute;
  left:2px;
  top:632px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:0px;
  top:520px;
  width:720px;
  height:420px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:420px;
}
#u3 {
  position:absolute;
  left:2px;
  top:202px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:0px;
  top:630px;
  width:720px;
  height:135px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:135px;
}
#u5 {
  position:absolute;
  left:2px;
  top:60px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:0px;
  top:42px;
  width:90px;
  height:92px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u7 {
  position:absolute;
  left:30px;
  top:650px;
  width:660px;
  height:100px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
