body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:720px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1328px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:720px;
  height:1328px;
}
#u1 {
  position:absolute;
  left:2px;
  top:656px;
  width:716px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:27px;
  top:866px;
  width:320px;
  height:404px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u3 {
  position:absolute;
  left:374px;
  top:866px;
  width:320px;
  height:404px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u4 {
  position:absolute;
  left:26px;
  top:446px;
  width:320px;
  height:404px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u5 {
  position:absolute;
  left:374px;
  top:446px;
  width:320px;
  height:404px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
